[user]
	email = michal.halenka@gmail.com
	name = Michal Halenka
	signingkey = D18BB5BA
[core]
	# indent-with-non-tab - detekuje 8 a více mezer na začátku řádku
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	autocrlf = input
[color]
	ui = true
[push]
	default = simple
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
